/* The only css file for this web app */
body * {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home-setting {
  background: black url('../images/dots-and-boxes-background.jpg') center center no-repeat;
}

.game-setting {
  background: black url('../images/plain-background.png') center center no-repeat;
}

.page-background {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: scroll;
}

.flex-column {
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.page-header{
  font-size: xx-large;
  display: flex;
  font-family: sans-serif;
  font-weight:bolder;
  color: white;
  text-align: center;
  margin: 0.7em 1em;
}

.page-description{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: rgb(231, 231, 36);
  text-align: center;
  margin: 0 1em 1em 1em;
}

.page-link-btn{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid rgb(231, 231, 36);
  margin:0 0.3em 1em 1em;
  border-radius:0.12em;
  text-decoration:none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
  font: larger;
  color:rgb(231, 231, 36);
  text-align:center;
  transition: all 0.2s;
  background-color: blue;
  }

.page-link-btn:hover {
  color:black;
  background-color: white;
  border: 0.1em solid white;
}

#board-svg {
  width: 70%;
  height: 50vh;
  display: block;
  min-width: 200px;
  min-height: 200px;
}

.board-element {
  padding-top: 10px;
  text-align: center;
  width: 70vw;
  display: block;
}

.board-holder {
  display: contents;
}

.turn-dashboard-text{
  font-family: sans-serif;
  font-size: larger;
  font-weight: normal;
  color: aqua !important;
}

.score-dashboard-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: lighter;
}

.box-text {
  font-family: sans-serif;
  font-size: smaller;
  font-style: oblique;
}

@media only screen and (max-width: 600px) {
  #board-svg {
    width: 100%;
    min-width: 350px;
    min-height: 350px;
  }
}